extends ../layout/layout
include ../mixins/videoMixin

block contents
    div.video-page
        h2 VIDEOS
        div.video-page-contents__wrapper
            each video in videos
                +videoMixin(video)
            else 
                div 
                    ul 
                        li there is no Data