extends ../layout/layout
block contents 
    div 
        h3 #{video.title}
        p
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;