include ../mixins/videoMixin
include ../mixins/errorMixin
doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link( rel="stylesheet" href="/dist/css/styles.css")
        title #{pageTitle} | SoundStream
    body
        if messages.error
            +errorMixin("error",messages.error)
        if messages.info 
            +errorMixin("info",messages.info)
        if messages.success
            +errorMixin("success",messages.success)
        header 
            include ../partials/navigation
            span=messages.info
        main
            block contents
    include ../partials/footer
    block scripts