// avatar url bgColor
%avatarBgShape {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	margin-right: 10px;
}
.avatarBg-cont {
	display: flex;
	align-items: center;
	.avatarBg {
		@extend %avatarBgShape;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #8c7ae6;
		img {
			border-radius: 100%;
			width: 30px;
			height: 30px;
		}
	}
}
.non-avatarBg-cont {
	display: flex;
	align-items: center;
	.non-avatarBg {
		@extend %avatarBgShape;
		background-color: #0097e6;
	}
}
