// global nav
.global-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	font-size: 18px;
	font-weight: 600;
	ul {
		display: flex;
		li {
			margin: 0 10px;
		}
	}
}
