extends ./layout/layout
block contents 
    div.join_page-wrapper
        form.join_page-form(method="post") 
            legend(hidden) join
            h2 회원가입
            if idError 
                div    
                    p=idError 
            if emailError 
                div    
                    p=emailError
            if pwError 
                div    
                    p=pwError
            div 
                label(for="userId") ID
                input#userId.inputStyle(type="text", name="userId" placeholder="아이디")
            div 
                label(for="userPassword") 비밀번호
                input#userPassword.inputStyle(type="text", name="password" placeholder="비밀번호")
            div 
                label(for="userPassword") 비밀번호 재확인
                input#userPassword.inputStyle(type="text", name="passwordCheck" placeholder="비밀번호 재확인")
            div 
                label(for="userName") 닉네임
                input#userName.inputStyle(type="text", name="username" placeholder="닉네임")
            div 
                label(for="userEmail") 이메일
                input#userEmail.inputStyle(type="text", name="email" placeholder="이메일")
            button.btnStyle(type="submit") 확인     
            a.btnStyle(href='/') 취소