extends ./layout/layout
block contents 
    div.login_page-wrapper
        form.login_page-form(method="POST")
            legend(hidden) 로그인
            h2 로그인
            div
                label(for="loginId") 아이디
                input#loginId.inputStyle(type="text", name="userId" placeholder="아이디" required)
            div
                label(for="loginPw") 비밀번호
                input#loginPw.inputStyle(type="text", name="password" placeholder="비밀번호" required)
            if errorMsg 
                p=errorMsg
            button.btnStyle(type="submit") 로그인
            a.btnStyle(href='/join') 회원가입
        a(href='/users/github/join') Github으로 로그인 &rarr;