extends ./layout/layout

block contents 
    div.upload_page-wrapper
        div 
            video#preview
            button#recordBtn.btnStyle(type='click') 녹화하기
        form.upload_page-form(method='POST' ,enctype="multipart/form-data")
            legend(hidden) Upload Contents
            h2 업로드
            if error
                div
                    p 제목과 설명을 작성하세요.     
            div.upload_page-radio_cont
                div
                    label(for="musicRadio") Music
                    input#musicRadio.inputStyle(type="radio", name="contentRadio" value="music" checked)
                div
                    label(for="videoRadio") Video
                    input#videoRadio.inputStyle(type="radio", name="contentRadio" value="video")
            div 
                label(for="contentUpload") 파일 업로드<br/>(10메가 이하)
                input#contentUpload.inputStyle(type="file", name="contentUpload" accept="video/* ,audio/*, image/*" required)
            div 
                label(for="contentTitle") 제목
                input#contentTitle.inputStyle(type="text", name="title" placeholder="제목을 입력해주세요" required)
            div 
                label(for="contentDesc") 설명
                input#contentDesc.inputStyle(type="text", name="description" placeholder="설명" required)
            div 
                label(for="contentHashTags") 해쉬태그
                input#contentHashTags.inputStyle(type="text", name="hashTags" placeholder=",으로 구분 지어주세요.")
            button.btnStyle(type="submit") 확인
            a.btnStyle(href='/') 취소
block scripts 
    script(src="/dist/js/recordVideo.js") 