extends ../layout/layout
block contents 
    div.edit_password-wrapper
        form.edit_password-form(method="POST")
            h2 비밀번호변경
            if errorMsg 
                p=errorMsg
            legent(hidden) 비밀번호 변경
            div 
                label(for="oldPassword") 이전 비밀번호
                input#oldPassword.inputStyle(type="text" name='oldPassword'  placeholder="이전 비밀번호")
            div 
                label(for="newPassword") 새 비밀번호
                input#newPassword.inputStyle(type="text" name='newPassword'  placeholder="새 비밀번호")
            div 
                label(for="checkPassword") 비밀번호 확인
                input#checkPassword.inputStyle(type="text" name='checkPassword' placeholder="비밀번호 확인")
            button.btnStyle(type="submit") 변경
            a.btnStyle(href='/') 취소