extends ../layout/layout
block contents 
    div.edituser_page-wrapper
        if errorMsg 
            h2=errorMsg
        div
            h2 My Page
            if loggedUser.avatarUrl === ""
                div.edituser_page-avatar(style="background: red")
            else
                div.edituser_page-avatar
                    if loggedUser.social
                            img(src=loggedUser.avatarUrl, alt="avatarImg")
                    else
                        img(src=`/${loggedUser.avatarUrl}`, alt="avatarImg")
        form.edituser_page-form(method='POST', enctype="multipart/form-data")
            legend(hidden) My Page 
            div 
                label(for="username") 닉네임
                input#username.inputStyle(type="text" name='username' value=loggedUser.username placeholder="닉네임")
            div 
                label(for="avatarUrl") 아바타
                input#avatarUrl.inputStyle(type="file" name='avatarUrl' accept="image/*")
            button.btnStyle(type="submit") 변경사항 저장
            a.btnStyle(href='/users/mypage') 취소
        a(href='/users/change-password') 비밀번호 변경하러 가기