extends ../layout/layout
include ../mixins/videoMixin
block contents 
    div.userinfo_page-wrapper
        div.userinfo_page-user
            h2 #{user.username}님의 마이페이지
            div.userinfo_page-userinfo
                div
                if user.avatarUrl !== ""
                    div.userinfo_page-avatar
                        img(src=`/${user.avatarUrl}`, alt="avatarImg")
                else
                    div.userinfo_page-avatar(style="background: red;" )
                div.userinfo_page-edit
                    a(href='/users/mypage/edit') 회원정보 수정
        div.userinfo_page-myupload
            h3 내가 올린 영상
            each video in user.videos
                +videoMixin(video)
            else 
                p 업로드한 컨텐츠가 없습니다.